.container {
  position: relative;
  text-align: center;
}

body {
  background-color: rgb(219, 118, 3);
}

.btn {
  height: 35px;
}

img {
  background-color: rgb(219, 118, 3);
  height: 350px;
  width: auto;
}

#inputs {
  font-size: 25px;
}

form {
  position: relative;
}

.ready {
  position: absolute;
  left: 25px;
}

.done {
  position: absolute;
  right: 25px;
}

ul {
  list-style: none;
}

.item {
  height: 35px;
  min-width: 330px;
  width: fit-content;
  font-size: 25px;
  font-family: serif;
  text-align: left;
}

.devour {
  float: right;
  right: 1px;
  height: 25px;
}
